include "includes/header.html"

<body class="dark">
<div data-role="header" style="overflow:hidden;">
    <h1>New in Social</h1>
    <a href="#" data-icon="gear" class="ui-btn-right">Options</a>
    <div data-role="navbar">
        <ul>
            <li><a href="#">Tumblr</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
        </ul>
    </div><!-- /navbar -->
</div><!-- /header -->
<div id="option">
        <label for="tag">Tag:</label>
        <input data-clear-btn="true" name="tag" id="tag" value="" type="text">
        <label for="user">User:</label>
        <input data-clear-btn="true" name="user" id="user" value="" type="text">
</div>
<div>

   <div id="map-canvas"></div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script>
    var map;
    function initialize() {
        var mapOptions = {
            zoom: 8,
            center: new google.maps.LatLng(-34.397, 150.644)
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>

<ul data-role="listview" data-inset="true">
    <li><a href="#">
        <img src="img/album-bb.jpg">
        <h2>Broken Bells</h2>
        <p>Broken Bells</p></a>
    </li>
    <li><a href="#">
        <img src="img/album-bb.jpg">
        <h2>Warning</h2>
        <p>Hot Chip</p></a>
    </li>
    <li><a href="#">
        <img src="img/album-bb.jpg">
        <h2>Wolfgang Amadeus Phoenix</h2>
        <p>Phoenix</p></a>
    </li>
</ul>

<div id="detail">
    <div data-role="header">
        <h1>Broken Bells</h1>
    </div><!-- /header -->
    <button class="ui-btn ui-icon-location ui-btn-icon-left ui-shadow ui-corner-all">location</button>
    <div class="ui-nodisc-icon ui-alt-icon"><!-- Classes added to the wrapper -->
        <a href="#" class="ui-btn ui-shadow ui-corner-all ui-icon-plus ui-btn-icon-notext ui-btn-inline">Plus</a>
        <a href="#" class="ui-btn ui-shadow ui-corner-all ui-icon-minus ui-btn-icon-notext ui-btn-inline">Minus</a>
    </div>
    <div role="main" class="ui-content">
        <p>This is a single page boilerplate template that you can copy to build your first jQuery Mobile page. Each link or form from here will pull a new page in via Ajax to support the animated page transitions.</p>
        <p>Just view the source and copy the code to get started. All the CSS and JS is linked to the jQuery CDN versions so this is super easy to set up. Remember to include a meta viewport tag in the head to set the zoom level.</p>
        <p>This template is standard HTML document with a single "page" container inside, unlike a <a href="../pages-multi-page/" data-ajax="false">multi-page template</a> that has multiple pages within it. We strongly recommend building your site or app as a series of separate pages like this because it's cleaner, more lightweight and works better without JavaScript.</p>
    </div><!-- /content -->

</div>

</body>

